.container,
h1 {
  text-align: center;
}

.teams {
  font-size: large;
}

.details-container,
.player-stats {
  text-align: center;
  padding: 10px;
}

header {
  text-align: center;
}

.loader {
  border: 10px solid gray;
  border-top: 10px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

label {
  padding: 10px;
  display: grid;
  margin-top: 5px;
  margin: 5px 20px;
}

form {
  text-align: center;
}

.error {
  display: none;
  color: red;
  padding: 5px;
}
